body {
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    text-align: center;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, form {
    margin: 0;
    padding: 0;
}

#container {
    margin: auto;
    width: 900px;
    height: 100%;
}

ul.search_results, ul.search_results li {
    list-style-type: none;
}

ul.search_results li {
    float: left;
    list-style: none;
    width: 130px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
}

div#product {
    text-align: left;
    float: left;
    font-size: 1.5em;
}

div#product h1 {
    margin: 10px 0px 10px 0px;
}

div#product div.error {
    color: #ff0000;
}

div#product div.notice {
    color: #009933;
}

form.standard_form label, input {
    float: left;
    margin: 5px;
}

form.standard_form label {
    width: 100px;
}

img {
    color: #ffffff;
}

a link {
    color: #ffffff;
}